{% extends 'customer/navbarcustomer.html' %} {% block content %}
<div
  style="
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    overflow-y: scroll;
    padding: 20px;
  "
>
  {% if customer %}
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 150px;
    "
  >
    <img
      src="{{ customer.customerimage.url }}"
      alt="Customer Image"
      width="150"
      height="150"
      style="border: 1px solid #ddd; border-radius: 50%; margin-bottom: 20px"
    />
    <p style="color: #042405; font-weight: bold; text-align: center">
      Customer name: {{ customer.customername }}
    </p>
    <p style="color: #042405; text-align: center">
      Email: {{ customer.customeremail }}
    </p>
    <form
      method="post"
      enctype="multipart/form-data"
      style="text-align: center"
    >
      {% csrf_token %} {{ image_form.as_p }}
      <button
        type="submit"
        style="
          background-color: #042405;
          color: #fff;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          margin-top: 10px;
        "
      >
        Update Image
      </button>
    </form>
  </div>

  <h2 style="color: #042405; text-align: center; margin-top: 20px">
    Order History
  </h2>
  <ul style="list-style: none; padding: 0; text-align: center">
    {% for order in customer.order_set.all %}
    <li
      style="
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div>
          <strong>Order ID:</strong> {{ order.id }}<br />
          <strong>Total:</strong> Tk.{{ order.get_cart_total }}
        </div>
        <div style="color: #888">
          <strong>Date:</strong> {{ order.date_ordered|date:"F j, Y H:i" }}
        </div>
      </div>
      <div class="order-items">
        <strong>Items:</strong>
        <table style="width: 100%; border-collapse: collapse; margin-top: 20px">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for order_item in order.orderitem_set.all %}
            <tr>
              <td>{{ order_item.product.itemtitle }}</td>
              <td>{{ order_item.quantity }} Pcs</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock content %}
