<!DOCTYPE html>
{% extends 'customer/navbarcustomer.html' %}
{% load static %}
{% block content %} 
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <div class="search-body-area-result ">
        <div style="position: relative; top: 160px; height: 45vh;" class="section-title">
            <h2> Your Favourites: </h2>
        </div>
        <div style="justify-content: center; align-items: center;" class="row">
        {% if favorites %}
            <ul>
            {% for favorite in favorites %}
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="{{ favorite.item.itemfeaturedimage.url }}" alt="">
                            <div class="overlay"></div>
                            {% if favorite.item.itemquantity <= 0 %}
                            <span class="out-of-stock-label">Out of Stock</span>
                            {% endif %}
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><strong>{{favorite.item.itemtitle}}</strong></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="price-sale">BDT {{favorite.item.itemprice}}</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                   
                                    <a href="{% url 'singleitemcustomer' pk=favorite.item.id customer_id=request.session.customer_id %}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>   
                                    <a href="{% url 'cart' customer_id=request.session.customer_id %}" data-product="{{favorite.item.id}}" data-action="add" class="add-btn update-cart add-to-cart buy-now d-flex justify-content-center align-items-center mx-1 {% if item.itemquantity <= 0 %}out-of-stock{% endif %}">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a> 
                                
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>
  </body>
</html>
{% endblock content %}
