<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
{% block content %}

<div class="container">
    <h2>Your Favorites</h2>

    {% if favorites %}
        <ul>
            {% for favorite in favorites %}
                <li>
                    <!-- Place content for each favorite item here -->
                    <h3>{{ favorite.item.itemtitle }}</h3>
                    <p>Price: {{ favorite.item.itemprice }}</p>
                    <p>Description: {{ favorite.item.itemdescription }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't added any items to your favorites yet.</p>
    {% endif %}
</div>

{% endblock content %}
</body>
</html>
