<!DOCTYPE html>
{% extends 'customer/navbarcustomer.html' %}
{% load static %} 

</head>
<body>

{% block content %}

    <div class="search-body-area-result ">

    <div style="position: relative; top: 160px; height: 45vh;" class="section-title">
        <h2> Filter Items by category: {{ category.categoryname }}</h2>
        <p style="position: relative; top: 15px;">{{ items|length }} results found</p>
    </div>
	
            
        <di style="justify-content: center; align-items: center;" class="row">
            {% for item in items %} 
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="{{ item.itemfeaturedimage.url }}" alt="">
                            <div class="overlay"></div>
						    {% if item.itemquantity <= 0 %}
						    <span class="out-of-stock-label">Out of Stock</span>
						    {% endif %}
                            {% if item.discount_percentage > 0 %}
                    	    <span class="discount-label">BDT {{item.discounted_price}} on {{item.discount_percentage}}% sale</span>
                		    {% endif %}						
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><strong>{{item.itemtitle}}</strong></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    {% if item.discount_percentage > 0 %} 
									<p class="price"><span class="price-sale" style="text-decoration: line-through;">BDT {{item.itemprice}}</span></p>
									{% else %}
									<p class="price"><span class="price-sale">BDT {{item.itemprice}}</span></p>
									{% endif %}
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="{% url 'singleitemcustomer' pk=item.id customer_id=request.session.customer_id %}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="fas fa-bars"></i></span>
                                    </a>
                                    
                                    <a href="{% url 'cart' customer_id=request.session.customer_id %}" data-product="{{item.id}}" data-action="add" class="add-btn update-cart add-to-cart buy-now d-flex justify-content-center align-items-center mx-1 {% if item.itemquantity <= 0 %}out-of-stock{% endif %}">
                                        <span><i class="fas fa-shopping-cart"></i></span>
                                    </a>    
                                    <a href="{% url 'togglefavorite' pk=item.id customer_id=request.session.customer_id %}" class="toggle-favorite d-flex justify-content-center align-items-center text-center" data-item-id="{{ item.id }}" data-user-id="{{ request.session.customer_id }}">
                                        <span><i class="far fa-heart"></i></span>
                                    </a>                       
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>
        
</div>

    <!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
                        <p>Your one-stop online destination for all your grocery shopping needs. We understand the importance of convenience in today's fast-paced world, and that's why we're here to simplify your shopping experience and make it as effortless as possible.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>Dhaka, Bangladesh</li>
							<li>grocereasedp1@gmail.com</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="{% url 'homecustomer' customer_id=request.session.customer_id %}">Home</a></li>
							<li><a href="{% url 'shop' customer_id=request.session.customer_id %}">Shop</a></li> 
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Follow us</h2>
						<p>To get the latest updates.</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>

    <script>
	  
        $(document).ready(function () {
            const toggleFavorite = $('.toggle-favorite');
            const favoriteCount = $('#favorite-count');
            
            toggleFavorite.each(function () {
                const link = $(this);
                const icon = link.find('i');
                const itemId = link.attr('data-item-id');
                const userId = link.attr('data-user-id'); 
                
                // Construct a unique key for this specific item and user
                const storageKey = 'favorite_' + userId + '_' + itemId;
                const isFavorite = localStorage.getItem(storageKey) === 'true';
                
                // Initialize the icon based on the favorite state
                updateIcon(link, isFavorite);
        
                link.on('click', function(event) {
                    event.preventDefault();
                    const url = link.attr('href');
                    
                    $.get(url)
                    .done(function(data) {
                        const isFavorite = data.is_favorite;
                        
                        // Update the icon and local storage for this specific item and user
                        updateIcon(link, isFavorite);
                        localStorage.setItem(storageKey, isFavorite.toString());
                        
                        updateFavoriteCount();
                    })
                    .fail(function(jqXHR, textStatus, errorThrown) {
                        console.error("Failed to toggle favorite:", textStatus, errorThrown);
                    });
                });
            });
            
            // Function to update the icon based on the item's state (favorite or not)
            function updateIcon(link, isFavorite) {
                const icon = link.find('i');
                if (isFavorite) {
                    icon.removeClass('far fa-heart').addClass('fas fa-heart');
                } else {
                    icon.removeClass('fas fa-heart').addClass('far fa-heart');
                }
            }
            
            // Function to update the favorite count
            function updateFavoriteCount() {
                $.get("{% url 'getfavoritescount' customer_id=request.session.customer_id %}")
                .done(function(data) {
                    const count = data.favorite_count;
                    favoriteCount.text(count);
                    
                    if (count === 0 && favoriteCount.is(':visible')) {
                        favoriteCount.hide();
                    } else if (count > 0) {
                        favoriteCount.show();
                    }
                })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    console.error("AJAX request failed:", textStatus, errorThrown);
                });
            }
            
            // Fetch and update the initial favorite count
            updateFavoriteCount();
        });
        
        
    </script>
    

{% endblock content %}
