<!DOCTYPE html>
{% extends 'customer/navbarcustomer.html' %}
{% load static %} 

</head>


<body>

{% block content %}

    <div class="search-body-area-result ">

    <div style="position: relative; top: 160px; height: 45vh;" class="section-title">
        <h2> Filter Items by category: {{ category.categoryname }}</h2>
        <p style="position: relative; top: 15px;">{{ items|length }} results found</p>
    </div>
	
            
        <di style="justify-content: center; align-items: center;" class="row">
            {% for item in items %} 
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="#" class="img-prod"><img class="img-fluid" src="{{ item.itemfeaturedimage.url }}" alt="">
                            <div class="overlay"></div>
						    {% if item.itemquantity <= 0 %}
						    <span class="out-of-stock-label">Out of Stock</span>
						    {% endif %}
                            {% if item.discount_percentage > 0 %}
                    	    <span class="discount-label">BDT {{item.discounted_price}} on {{item.discount_percentage}}% sale</span>
                		    {% endif %}						
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><strong>{{item.itemtitle}}</strong></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    {% if item.discount_percentage > 0 %} 
									<p class="price"><span class="price-sale" style="text-decoration: line-through;">BDT {{item.original_price}}</span></p>
									{% else %}
									<p class="price"><span class="price-sale">BDT {{item.itemprice}}</span></p>
									{% endif %}
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="{% url 'singleitemcustomer' pk=item.id customer_id=request.session.customer_id %}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="fas fa-bars"></i></span>
                                    </a>
                                    
                                    <a href="{% url 'cart' customer_id=request.session.customer_id %}" data-product="{{item.id}}" data-action="add" class="add-btn update-cart add-to-cart buy-now d-flex justify-content-center align-items-center mx-1 {% if item.itemquantity <= 0 %}out-of-stock{% endif %}">
                                        <span><i class="fas fa-shopping-cart"></i></span>
                                    </a>    
                                    <a href="{% url 'togglefavorite' pk=item.id customer_id=request.session.customer_id %}" class="toggle-favorite d-flex justify-content-center align-items-center text-center" data-item-id="{{ item.id }}" data-user-id="{{ request.session.customer_id }}">
                                        <span><i class="far fa-heart"></i></span>
                                    </a>                       
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            {% endfor %}
          </div>
        
</div>

    
   

    
    

{% endblock content %}
