<p>{{ items|length }} results found</p>
    <div class="container">
        <div class="grid grid--three">
            {% for item in items %}
                <div class="column">
                    <img class="project__thumbnail" src="{{ item.itemfeaturedimage.url }}" alt="project thumbnail" />
                    <div class="card project">
                        <div class="card__body">
                            <h3 class="project__title">{{ item.itemtitle }}</h3>
                            <h3 class="project__title">BDT {{ item.itemprice }}</h3>
                            <ul>
                                {% for category in item.category.all %}
                                    <li>{{ category.categoryname }}</li>
                                {% endfor %}
                            </ul>
                            <h3 class="project__title">Seller: {{ item.seller.storename }}</h3>
                            <h3 class="project__title">Quantity: {{ item.itemquantity }}</h3>
                            <p>{{ item.itemdescription }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
