{% extends 'customer/mainhome.html' %}
{% load static %}
{% block content %}

<div class="voucherarea">
    <div class="vouchertext">
        <p><i class="fa fa-gift"></i> Get 20% off by using voucher code 'winter2023' at GrocerEase!</p>
    </div>
</div>

    <div class="container">
        <div class="row services">
            <div class="col-md-3">
                <img src="{% static 'pictures/delivery.png' %}" style="height: 130px;" alt="">
                <div class="servicetext">
                    <h3 class="heading">Free Shipping</h3>
                    <span>On order over BDT 10,000</span>
                </div>
            </div>
            <div class="col-md-3">
                <img src="{% static 'pictures/supplies.png' %}" style="height: 130px;" alt="">
                <div class="servicetext">
                    <h3 class="heading">Always Fresh</h3>
                    <span>Product well package</span>
                </div>
            </div>
            <div class="col-md-3">
                <img src="{% static 'pictures/grocery.png' %}" style="height: 130px;" alt="">
                <div class="servicetext">
                    <h3 class="heading">Superior Quality</h3>
                    <span>Quality Products</span>
                </div>
            </div>
            <div class="col-md-3">
                <img src="{% static 'pictures/support.png' %}" style="height: 130px;" alt="">
                <div class="servicetext">
                    <h3 class="heading">Support</h3>
                    <span>24/7 Support</span>
                </div>
            </div>
        </div>
    </div>

    <div class="section-title">
        <h2>Featured Categories</h2>
    </div>

    <section class="ftco-section ftco-category ftco-no-pt">
        <div class="container categories">
            <div class="row">
                <div class="col-md-12">
                    <div class="row categories__slider owl-carousel">
                      {% for category in categories %}
                        <div class="col-md-4">
                                <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url('{{ category.categoryimage.url }}'); width: 250px;">
                                    <div class="text px-3 py-1">
                                        <h2 class="mb-0"><a href="{% url 'filteritemsbycategory' category_name=category.categoryname customer_id=request.session.customer_id %}">                                          
                                            {{ category.categoryname }}
                                        </a>                                        
                                        </h2>
                                    </div>
                                </div>
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section-title"> 
        <h2 class="mb-4">Our Sellers</h2>
    </div>

    <div class="row seller" style="position: relative; top: 10%; text-align: center;">
        {% for seller in sellers %} 
        <div class="col-md-3" style="text-align: center;">
            <a href="{% url 'selleritems' seller_id=seller.pk customer_id=request.session.customer_id %}">
                <img class="img-fluid sellerimage" src="{{ seller.sellerimage.url }}" alt="">           
            </a>
                <p style="text-transform: capitalize; font-weight: 600; color: rgb(63, 62, 62);" class="sellername">{{seller.storename}}</p>
        </div>
        {% endfor %} 
    </div>

    <div class="section-title"> 
        <h2 class="mb-4">Our Products</h2>
        <p style="font-size: 18px;">At Grocerease, we're committed to bringing you a wide selection of high-quality products at competitive prices.</p>
    </div>

    <div style="justify-content: center; align-items: center;" class="row">
        {% for item in combined_items %} 
        <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="product">
                <a href="#" class="img-prod"><img class="img-fluid" src="{{ item.itemfeaturedimage.url }}" alt=""></a>
                            <div class="overlay"></div>
						    {% if item.itemquantity <= 0 %}
						    <span class="out-of-stock-label">Out of Stock</span>
						    {% endif %}
                            {% if item.discount_percentage > 0 %}
                    	    <span class="discount-label">BDT {{item.discounted_price}} on {{item.discount_percentage}}% sale</span>
                		    {% endif %}	
                            <div class="text py-3 pb-4 px-3 text-center">
                    <h3><strong>{{item.itemtitle}}</strong></h3>
                    
                    <div class="d-flex">
                        <div class="pricing">
                            {% if item.discount_percentage > 0 %} 
									<p class="price"><span class="price-sale" style="text-decoration: line-through;">BDT {{item.original_price}}</span></p>
									{% else %}
									<p class="price"><span class="price-sale">BDT {{item.itemprice}}</span></p>
									{% endif %}                            
                        </div>
                    </div> 
                    <div class="bottom-area d-flex px-3">
                        <div class="m-auto d-flex">
                            <a href="{% url 'singleitemcustomer' pk=item.id customer_id=request.session.customer_id %}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                <span><i class="fas fa-bars"></i>
                                </span>
                            </a>
                            <a href="{% url 'cart' customer_id=request.session.customer_id %}" data-product="{{item.id}}" data-action="add" class="add-btn update-cart buy-now add-to-cart d-flex justify-content-center align-items-center mx-1 {% if item.itemquantity <= 0 %}out-of-stock{% endif %}">
                                <span><i class="fas fa-shopping-cart"></i>
                                </span>
                            </a>
                            <a href="{% url 'togglefavorite' pk=item.id customer_id=request.session.customer_id %}" class="toggle-favorite d-flex justify-content-center align-items-center text-center" data-item-id="{{ item.id }}" data-user-id="{{ request.session.customer_id }}">
                                <span><i class="far fa-heart"></i>
                                </span>
                            </a>

                           
                            
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>


    
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        {% for item in recently_added_items %}
                        <div class="latest-prdouct__slider__item">
                            <a href="{% url 'singleitemcustomer' pk=item.id customer_id=request.session.customer_id %}" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="{{ item.itemfeaturedimage.url }}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>{{ item.itemtitle }}</h6>
                                    <span>BDT {{ item.itemprice }}</span>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Recently Viewed Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        {% for item in recently_viewed_items %}
                        <div class="latest-prdouct__slider__item">
                            <a href="{% url 'singleitemcustomer' pk=item.id customer_id=request.session.customer_id %}" class="latest-product__item"" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="{{ item.itemfeaturedimage.url }}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>{{ item.itemtitle }}</h6>
                                    <span>BDT {{ item.itemprice }}</span>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        {% for item in top_rated_items %}
                        <div class="latest-prdouct__slider__item">
                            <a href="{% url 'singleitemcustomer' pk=item.id customer_id=request.session.customer_id %}" class="latest-product__item"" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="{{ item.itemfeaturedimage.url }}" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>{{ item.itemtitle }}</h6>
                                    <span>BDT {{ item.itemprice }}</span>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


    <div class="cookimage">
        <div class="preparetext">
            <p>You prepare the food, we handle the rest</p>
        </div>
        <img class="fireimage" src="{% static 'pictures/bg_3.jpg' %}" alt="">
        <div class="bannerarea">
            <div class="bannertext">
                <div style="font-size: 25px;" class="text">Let's start shopping on GrocerEase!</div>
                <div class="text">We are committed to providing enjoyable shopping experience for our valued customers.</div>
                <div class="text">Whether you're a busy professional, a homemaker, or someone who simply loves convenience, GrocerEase is here to make your grocery shopping hassle-free.</div>
                <div class="text">Interested? Let's start today!</div>
            </div>
            <button class="btn-start">Get started</button>
        </div>
    
    </div>

    
{% endblock content %}
   
  
  