{% extends 'customer/navbarcustomer.html' %}
{% load static %}
{% block content %} 

<style>
    .exceeds-stock{
        position: relative;
        right: 1px;
        width: 80px;
        top: 15px;
    }
</style>

<div  class="section-title" style="position: relative; top: 100px;">
    <h2>Your Personalised Grocery List</h2>
</div>

<section style="position: relative; top: 50px;" class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="cart-list">
                <table class="table">
                    <thead class="thead-primary">
                      <tr class="text-center">
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Add to cart</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for item in personal_list %}
                        <tr class="text-center">
                        
                        <td class="image-prod">
                                            {% if item.itemquantity == 0 %}
                                            <span class="exceeds-stock">Out of Stock</span>                                               
                                            {% endif %}                                            
                            <img style="height: 60px; width: 60px;" class="img" src="{{ item.itemfeaturedimage.url }}" alt="">
                        </td>
                       
                        <td class="product-name">
                            <h6>{{item.itemtitle}}</h>
                        </td>
                        
                        <td class="price">BDT {{item.itemprice}}</td>

                        <td class="price">{{item.itemdescription}}</td>
                                                
                        <td class="total">
                            <div class="single-product-form">
                                <a href="{% url 'cart' customer_id=request.session.customer_id %}" data-product="{{ item.id }}" data-action="add" class="cart-btn update-cart add-to-cart"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
        </div>
    </div>
    </div>
</section>

{% endblock content %}
