{% extends 'customer/auth_customer_navbar.html' %} {% block content %}
<div
  class="container"
  id="verify-otp"
  style="
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  "
>
  <h2
    style="
      font-size: 36px;
      color: #042405;
      margin-top: 200px;
      margin-bottom: 20px;
      font-weight: bold;
    "
  >
    Verify OTP
  </h2>
  {% if error_message %}
  <p style="color: red; font-size: 20px">{{ error_message }}</p>
  {% endif %}
  <form
    method="post"
    style="max-width: 600px; margin: 55px auto; font-size: 20px"
  >
    {% csrf_token %}
    <div class="form-group" style="text-align: left; margin-bottom: 20px">
      <label
        for="otp"
        style="font-size: 24px; display: block; margin-bottom: 10px"
        >Enter OTP:</label
      >
      <input type="text" id="otp" name="otp" class="form-control" required />
    </div>
    <button
      type="submit"
      class="btn btn-primary btn-block"
      style="
        background-color: #042405;
        color: #fff;
        border: none;
        padding: 16px 32px;
        border-radius: 5px;
        font-size: 24px;
      "
    >
      Submit
    </button>
  </form>
</div>

{% endblock content %}
