{% extends 'seller/mainhomeseller.html' %}
{% load static %}
{% block content %}

<style>
	/* Add styles for out-of-stock items */
	.out-of-stock {
		filter: blur(1px); /* Apply a blur effect to the item */
		opacity: 0.5; /* Reduce opacity to indicate it's out of stock */
		pointer-events: none; /* Disable pointer events so it can't be clicked */
	}
	.out-of-stock-label {
	  display: block;
	  background-color: red;
	  color: white;
	  font-size: 14px;
	  padding: 4px 8px;
	  border-radius: 4px;
	  position: absolute;
	  top: 10px;
	  left: 10px;
	  z-index: 1;
	  opacity: 0; 
	animation: fade-in 0.5s ease-in-out forwards; 
	}
	
	@keyframes fade-in {
	from {
	  opacity: 0; /* Start with zero opacity */
	}
	to {
	  opacity: 1; /* Fade in to full opacity */
	}
  
  }
	
	
	
	</style>

<div style="position: relative; top: 40px;" class="container">
	<div class="row justify-content-center mb-3 pb-3">
		<div class="col-md-12 heading-section text-center ftco-animate">
				<h2 class="mb-4">My Items</h2>
		</div>
	</div>   		
</div>


<div style="justify-content: center; align-items: center;" class="row">
{% for item in items %} 
	<div style="position: relative; top: 30px;" class="col-md-6 col-lg-3 ftco-animate">
		<div class="product">
			<a href="#" class="img-prod"><img class="img-fluid" src="{{ item.itemfeaturedimage.url }}" alt="">
				<div class="overlay"></div>
				{% if item.itemquantity <= 0 %}
                <span class="out-of-stock-label">Out of Stock</span>
                {% endif %}
				
			</a>
			<div class="text py-3 pb-4 px-3 text-center">
				<h3><strong>{{item.itemtitle}}</strong></h3>
                <a href="{% url 'updateitem' item.id %}">Edit</a>
    				<a href="{% url 'deleteitem' item.id %}">Delete</a>
				<div class="d-flex">
					<div class="pricing">
						<p class="price"><span class="price-sale">BDT {{item.itemprice}}</span></p>
					</div>
                    
				</div>
				<div class="bottom-area d-flex px-3">
					<div class="m-auto d-flex">
						<a href="{% url 'singleitem' pk=item.id seller_id=request.session.seller_id %}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
							<span><i class="ion-ios-menu"></i></span>
						</a>
						
					</div>
				</div> 
			</div>
		</div>
	</div>
{% endfor %}
</div>

{% endblock content %}

