{% extends 'seller\auth_seller_navbar.html' %} {% block content %}
<div
  class="container"
  id="login-section"
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  "
>
  <div
    style="
      max-width: 400px;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    "
  >
    <h2
      style="
        font-size: 43px;
        color: #042405;
        margin-bottom: 34px;
        font-weight: bold;
      "
    >
      Seller Login
    </h2>
    <form method="post">
      {% csrf_token %} {{ form.as_p }} {% if messages %}
      <div>
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <button
        type="submit"
        style="
          width: 100%;
          padding: 12px;
          background-color: #042405;
          border: none;
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
          margin-top: 15px;
          margin-bottom: 30px;
        "
      >
        Login
      </button>
    </form>
    <p
      class="forgot-password"
      style="text-align: center; margin-top: 10px; font-size: 16px"
    >
      Forgot password? Reset
      <a href="{% url 'reset_seller_password' %}" style="color: #042405"
        >here</a
      >
    </p>
  </div>
</div>
{% endblock content %}
