<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <style>
    .notification-item {
        margin: 5px 0;
        border-bottom: 1px solid #fff; /* Add a border at the bottom of each notification */
        padding-bottom: 5px; /* Add some space between notifications */
    }
    
    /* Style the last notification to remove the border */
    .notification-item:last-child {
        border-bottom: none; /* Remove the border for the last notification */
    }
    
</style>
  <body>
    
{% block content %}

{% comment %} <a href="{% url 'clearallnotifs' seller_id=seller.id %}" class="btn btn-danger">Clear All Notifications</a> {% endcomment %}



<ul>
    {% for notification in notifications %}
    <li class="notification-item">
        {{ notification.message }}
    
        <a href="{% url 'clearsinglenotif' notification_id=notification.id seller_id=notification.recipient.id %}" class="btn btn-danger">Clear</a>

    </li>


    {% endfor %}


  </ul>

{% endblock %}


</body>
</html>