{% extends 'seller\auth_seller_navbar.html' %} {% block content %}
<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
  "
>
  <div
    style="
      max-width: 400px;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    "
  >
    <h2
      style="
        font-size: 35px;
        color: #042405;
        margin-bottom: 34px;
        font-weight: bold;
        text-align: center;
      "
    >
      Seller Registration
    </h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group" style="margin-top: 10px">
        <label
          for="{{ form.storename.id_for_label }}"
          style="color: #042405; text-align: center"
          >{{ form.storename.label_tag }}</label
        >
        {{ form.storename }}
      </div>
      <br />
      <div class="form-group" style="margin-top: 10px">
        <label
          for="{{ form.selleremail.id_for_label }}"
          style="color: #042405; text-align: center"
          >{{ form.selleremail.label_tag }}</label
        >
        {{ form.selleremail }} {% if form.selleremail.errors %}
        <ul class="errorlist" style="text-align: center">
          {% for error in form.selleremail.errors %}
          <li style="color: red">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="form-group" style="margin-top: 10px">
        <label
          for="{{ form.sellerpassword.id_for_label }}"
          style="color: #042405; text-align: center"
          >{{ form.sellerpassword.label_tag }}</label
        >
        {{ form.sellerpassword }} {% if form.sellerpassword.errors %}
        <ul class="errorlist" style="text-align: center">
          {% for error in form.sellerpassword.errors %}
          <li style="color: red">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        style="
          background-color: #042405;
          font-size: 20px;
          padding: 10px;
          display: block;
          margin: 30px auto;
        "
      >
        Register
      </button>
    </form>
  </div>
</div>
{% endblock content %}
