{% extends 'seller/navbarseller.html' %}
{% block content %}

<div style="height: 110vh;">
	<div style="position: relative; top: 90px;" class="section-title">
        <h2>Item: {{item.itemtitle}}</h2> 
    </div>
	<div style="position: relative; top: 130px;" class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="product-image-container">
						<a href="#" class="img-prod">
							<img class="img-fluid" src="{{ item.itemfeaturedimage.url }}" alt="">
							{% if item.itemquantity <= 0 %}
							<span class="out-of-stock-label">Out of Stock</span>
							{% endif %}
							
						</a>
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
                        <h3>{{item.itemtitle}}</h3> <span class="heart-icon" style="color: red; font-size: 24px;">&hearts;</span> {{ item.favorite_count }}
						<p>Description: {{item.itemdescription}}</p>
						<p>Quantity: {{item.itemquantity}} Kg</p>
						{% for category in categorys %}
    					<p>{{category}}</p>
    					{% endfor %}   
						<p class="single-product-pricing"><span>Per Kg </span>BDT {{item.itemprice}}</p>
						<a style="text-decoration: none; color: #042405;" href="{% url 'homeseller' seller_id=request.session.seller_id %}">Go Back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

{% endblock content %}
