{% extends 'seller/navbarseller.html' %}
    <div style="position: relative; top: 50px;" class="section-title">
        <h2>Item: {{item.itemtitle}}</h2>
    </div>
{% block content %}
	<!-- single product -->
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="single-product-img">
						<img src="{{ item.itemfeaturedimage.url }}" alt="">
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
                        <h3>{{item.itemtitle}}</h3>
						<p>Description: {{item.itemdescription}}</p>
						{% for category in categorys %}
    					<p>{{category}}</p>
    					{% endfor %}   
						<p class="single-product-pricing"><span>Per Kg</span>BDT {{item.itemprice}}</p>
						<a href="{% url 'homeseller' seller_id=request.session.seller_id %}">Go Back</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->

{% endblock content %}
