{% extends 'seller/navbarseller.html' %}{% block content %}
<div
  class="container"
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    margin-top: 200px;
    margin-bottom: 50px;
    text-align: center;
  "
>
  <h2
    style="
      font-size: 24px;
      color: #042405;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
      font-weight: bold;
    "
  >
    Upload Item
  </h2>
  <form
    action=""
    method="POST"
    enctype="multipart/form-data"
    style="text-align: left"
  >
    {% csrf_token %}
    <div style="margin: 0 auto; max-width: 300px">{{ form.as_p }}</div>
    <input
      type="submit"
      class="btn btn-primary btn-block"
      style="
        text-align: center;
        background-color: #042405;
        color: #fff;
        border: none;
        padding: 10px;
        font-size: 15px;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 20px;
      "
    />
  </form>
</div>
{% endblock content %}
