<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
  </head>
  <body>
    <h2>Change Password</h2>
    {% if error_messages %}
    <ul style="color: red">
      {% for message in error_messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <label for="new_password">Enter New Password:</label>
      <input type="password" id="new_password" name="new_password" required />
      <button type="submit">Change Password</button>
    </form>
  </body>
</html>
