<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    Dummy seller Home pg
    <a href="{% url 'logoutseller' %}">Logout</a>
    <a href="{% url 'uploaditem' %}">Upload Item</a>

    {% block content %}
    <h1>Items</h1>
    {% for item in items %}  

    <p>{{item.itemtitle}}</p>
    <p>{{item.itemprice}} BDT</p>
    <p>{{item.itemquantity}} grams</p>
    <p>{{item.itemdescription}}</p>
    <a href="{% url 'singleitem' item.id %}">View</a>
    <a href="{% url 'updateitem' item.id %}">Edit</a>
    <a href="{% url 'deleteitem' item.id %}">Delete</a>

{% endfor %}
    {% endblock content %}

</body>
</html>