<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    Dummy seller Home pg
    <a href="{% url 'logoutseller' %}">Logout</a>
    <a href="{% url 'uploaditem' seller_id=request.session.seller_id %}">Upload Item</a>
    <a href="{% url 'myselleritem' seller_id=request.session.seller_id %}">My Items</a>

    {% block content %}
    <h1>Items</h1>
    {% for item in items %}  

    <h3 style="color: rgb(17, 11, 87);">{{item.itemtitle}}</h3>
    <p>{{item.itemprice}} BDT</p>
    <p>{{item.itemquantity}} grams</p>
    <p>{{item.itemdescription}}</p>
    <a href="{% url 'singleitem' item.id %}">View</a>
{% endfor %}

    {% endblock content %}

</body>
</html>